﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>React Tutorial !</h2>

<div id="root"></div>

@section scripts {
		<script src="~/Scripts/react/dist/bundle.js"></script>
}

