﻿@model section01.Models.Band

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Band</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		@using (Html.BeginForm("Create", "Music"))
		{

			<!--
		<form asp-controller="Music" asp-action="Create" method="post">
		<form asp-action="Create">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		-->
			<div class="form-group">
				<!--
			<label asp-for="Title" class="control-label">our value</label>
			<input asp-for="Title" class="form-control" />
			<span asp-validation-for="Title" class="text-danger"></span>
			-->
				@Html.LabelFor(x => x.Title) <br />
				@Html.TextBoxFor(x => x.Title) <br />
				@Html.ValidationMessageFor(x => x.Title)<br />

			</div>
			<div class="form-group">
				@Html.LabelFor(x => x.Gendre)<br />
				@Html.TextBoxFor(x => x.Gendre)<br />
				@Html.ValidationMessageFor(x => x.Gendre)<br />

				<!--
			<label asp-for="Gendre" class="control-label"></label>
			<input asp-for="Gendre" class="form-control" />
			<span asp-validation-for="Gendre" class="text-danger"></span>
			-->
			</div>
			<div class="form-group">
				<!--
			<label asp-for="Origin" class="control-label"></label>
			<input asp-for="Origin" class="form-control" />
			<span asp-validation-for="Origin" class="text-danger"></span>
			-->
				@Html.LabelFor(x => x.Origin)<br />
				@Html.TextBoxFor(x => x.Origin)<br />
				@Html.ValidationMessageFor(x => x.Origin)<br />

			</div>
			<div class="form-group">
				<!--
			<label asp-for="Biography" class="control-label"></label>
			<input asp-for="Biography" class="form-control" />
			<span asp-validation-for="Biography" class="text-danger"></span>
			-->
				@Html.LabelFor(x => x.Biography)<br />
				@Html.TextAreaFor(x => x.Biography)<br />
				@Html.ValidationMessageFor(x => x.Biography)<br />

			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		}
	</div>
	</div>

	<div>
		<a asp-action="Index">Back to List</a>
	</div>

