﻿@model section01.Models.Band

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="container">
	<div class="row">
		<div class="col-md-6">

		<h4>Band</h4>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.Title)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Title)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Gendre)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Gendre)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Origin)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Origin)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Biography)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Biography)
			</dd>
		</dl>

	</div>
			<div id="data"></div>
		
	</div>
		<button id="ajaxTest">Ajax Get</button>
		
	</div>
</div>

<script>
	var data = {
		title = "yclod",
		genre = "gendre",
		origin = "parent garage",
		biography = "Hot rock music"
	}
	fetch('/music/create', {
		method: 'POST',
		body: JSON.stringify(data),
		headrs: {
			"Accept": "application/json",
			"Content-Type":"application/json"
		}
		body: data
	})
		.then(function (response) {
			return response.json();
		})
		.then(function (myJson) {
			console.log(myJSON);
		});
</script>

